{% extends "base.html" %}
{% block sample-style %}
    <style>
        dl {
            margin-top: 4px;
        }

        dd, dt {
            padding: 4px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="row well">
        <form id="id_form" class="form-horizontal col-sm-6">
            <fieldset>
                <legend>Filter:</legend>
                <div class="form-group">
                    <label for="id_name" class="col-sm-4 control-label">Name:</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="id_name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_gender" class="col-sm-4 control-label">Gender:</label>

                    <div class="col-sm-8">
                        <select name="gender" class="form-control" id="id_gender">
                            <option value="-1">Any</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_disable" class="col-sm-4 control-label">Disable:</label>

                    <div class="col-sm-8">
                        <select name="disable" class="form-control" id="id_disable">
                            <option value="-1">Any</option>
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_lastlogin" class="col-sm-4 control-label">Last Login After:</label>

                    <div class="col-sm-8">
                        <div class='input-group date' id='dp_lastlogin'>
                            <input type='text' id="id_lastlogin" class="form-control"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>


            </fieldset>
            <fieldset>
                <legend>Sort:</legend>
                <div class="form-group">
                    <label for="sort_name" class="col-sm-4 control-label">Name:</label>

                    <div class="col-sm-8">
                        <select name="sort_name" class="form-control" id="sort_name">
                            <option value="-1">no sorting</option>
                            <option value="1">Asc</option>
                            <option value="0">Desc</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sort_gender" class="col-sm-4 control-label">Gender:</label>

                    <div class="col-sm-8">
                        <select name="sort_gender" class="form-control" id="sort_gender">
                            <option value="-1">no sorting</option>
                            <option value="1">Asc</option>
                            <option value="0">Desc</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sort_lastlogin" class="col-sm-4 control-label">Last Login:</label>

                    <div class="col-sm-8">
                        <select name="sort_lastlogin" class="form-control" id="sort_lastlogin">
                            <option value="-1">no sorting</option>
                            <option value="1">Asc</option>
                            <option value="0">Desc</option>
                        </select>
                    </div>
                </div>

            </fieldset>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button id="btn_query" class="btn btn-primary" type="button">Query</button>
                </div>
            </div>
        </form>
        <div class="form-horizontal col-sm-5">
            <fieldset>
                <legend>Query Parameters:</legend>
                <dl class="panel panel-info">
                    <dt>Criteria:</dt>
                    <dd id="dd_criteria"></dd>
                    <dt>Sort:</dt>
                    <dd id="dd_sort"></dd>
                </dl>
            </fieldset>
        </div>
    </div>

    {% include 'dj-mongo-reader/table.html' %}


    <div class="modal fade" id="tDetail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Detail</h4>
                </div>
                <div class="modal-body">
                    <table border="0"
                           class="table table-striped table-bordered bootstrap-datatable datatable table-condensed"
                           id="tbl_detail">
                        <thead>
                        <th>Field</th>
                        <th>Value</th>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% block dj-mongo-rest-extra-js %}
        <script>
            $(function () {
                var $sel_rowCount = $('#sel_rowCount');

                $('#dp_lastlogin').datetimepicker({
                    format: 'YYYY-MM-DD'
                });

                if (rowcount) {
                    if ($sel_rowCount.find('option[value=' + rowcount + ']').length < 1) {
                        $sel_rowCount.append("<option value='" + rowcount + "'>" + rowcount + "</option>");
                    }
                    $sel_rowCount.val(rowcount);
                }

                $('body').bind('getMongoDataEvent', function (e) {
                    e.preventDefault();
                    $('#div_selectRowCount').removeClass('hide');
                });
                $sel_rowCount.on('change', function () {
                    MongoReader.options.batch_size = MongoReader.options.limit = rowcount = $sel_rowCount.val();
                    $('#btn_query').trigger('click');
                });

                $('#btn_query').bind('click', function (e) {
                    var _criteria = {}, _sort = {}, $temp;
                    e.preventDefault();

                    $temp = $('#id_name').val();
                    if ($temp) {
                        _criteria.name = {"$regex": $temp, "$options": "i"};
                    }

                    $temp = $('#id_lastlogin').val();
                    if ($temp) {
                        _criteria.lastlogin = {"$gte": {"$date": moment.utc($temp).startOf('day').valueOf()}};
                    }

                    $temp = $('#id_gender').val();
                    if (+$temp !== -1) {
                        _criteria.gender = (+$temp);
                    }

                    $temp = $('#id_disable').val();
                    if (+$temp !== -1) {
                        _criteria.disable = (+$temp ? true : false);
                    }

                    window.criteria = _criteria;

                    $temp = $('#sort_name').val();
                    if (+$temp !== -1) {
                        _sort.name = (+$temp ? 1 : -1);
                    }

                    $temp = $('#sort_gender').val();
                    if (+$temp !== -1) {
                        _sort.gender = (+$temp ? 1 : -1);
                    }

                    $temp = $('#sort_lastlogin').val();
                    if (+$temp !== -1) {
                        _sort.lastlogin = (+$temp ? 1 : -1);
                    }
                    !$.isEmptyObject(_sort) && (window.sort = _sort);

                    $('#dd_criteria').html('<pre>' + JSON.stringify(_criteria) + '</pre>');
                    $('#dd_sort').html('<pre>' + JSON.stringify(sort) + '</pre>');
                    RenderTable.getCount();
                    RenderTable.getMongoData(1);
                });

                window.gender_process = function (val) {
                    return (val ? 'Female' : 'Male');
                };

                window.disable_process = function (val) {
                    return (val ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' : '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
                };

                window._id_process = function (val) {
                    return (typeof val === 'object' ? val.$oid : val);
                };

                window.lastlogin_process = function (time) {
                    return (time ? moment.utc((typeof time === 'string' ? time : time.$date)).format('YYYY-MM-DD') : "");
                };

                function detailClickFun(e) {
                    var _detailData4tpe = [], _detailData;
                    e.preventDefault();
                    _detailData = RenderTable.detailData[$(this).attr('data-id')];

                    if (_detailData) {
                        $.each(_detailData, function (k1, v1) {
                            var tr = {};
                            tr.thead = k1;
                            if (RenderTable.columns_trans.hasOwnProperty(k1)) {
                                tr.thead = RenderTable.columns_trans[k1];
                            }

                            tr.content = v1;
                            if (window.hasOwnProperty(k1 + '_process')) {
                                /*jslint evil: true */
                                tr.content = eval(k1 + '_process')(v1);
                            }

                            _detailData4tpe.push('<tr><td>' + tr.thead + '</td><td>' + tr.content + '</td></tr>');
                        });

                        //sort detail field by field name
                        Array.prototype.sort.call(_detailData4tpe, function (a, b) {
                            return a.thead > b.thead;
                        });
                        $('#tbl_detail tbody').html(_detailData4tpe.join(''));
                        $('#tDetail').modal('show');
                    }
                };

                $('#tbl_mongo').off('click', 'a.detail').on('click', 'a.detail', detailClickFun);
            });
        </script>
    {% endblock %}
{% endblock %}
{% block sample-js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
