{% extends "base.html" %}
{% block content %}
    <h2>1 Database and collection</h2>
    <p>Suppose we have database <var>db1</var>, collelction <var>user_collection1</var>.</p>

    <h3>1.1 Data format</h3>
    <p>For each record, we have following fields:</p>
    <ul>
        <li><code>name</code>: @string</li>
        <li><code>gender</code>: @int, 1 stands for female, 0 for male</li>
        <li><code>lastlogin</code>: @datetime</li>
        <li><code>disable</code>: @bool</li>
    </ul>


    <h3>1.2 Import sample data to MongoDB</h3>
    <p>Download sample data here: <a href="{{ githubraw }}/data_100.json">data_100.json</a></p>
    <pre>mongoimport -d db1 -c user_collection1 --file data_100.json</pre>

    <h2>2, Add application to your Django project</h2>
    <p>add <code>djmongoreader</code> to <code>INSTALLED_APPS</code> in <code>settings.py</code></p>
    <pre>
INSTALLED_APPS = (
    ...
    'djmongoreader',
)</pre>

    <h2>3, Customize dj-mongo-reader</h2>
    <h3>3.1 Django setting</h3>
    <p>in <code>setting.py</code></p>
    <pre>
        MONGO_READER_SETTINGS = {
            'conn_str': os.getenv('MONGOLAB_URI', 'mongodb://127.0.0.1:27017/db1'),
            'perm_check_func': 'sampleapp.security.my_mongocall_perm_check'
        }
    </pre>
    <p>two keys in dj-mongo-reader setting dict:</p>
    <ul>
        <li>
            <p>
                <code>conn_str</code>: MongoDB connection URI (<a
                    href="http://docs.mongodb.org/manual/reference/connection-string/">format</a>)
                . If you provide a database name in URI, you can fetch it by following code later.
            </p>
            <pre>from djmongoreader.models import mongoReader mongoReader.get_dbname_in_uri()</pre>
        </li>
        <li>
            <p><code>perm_check_func</code>: optional, permission check function for each query command.</p>

            <p>e.g.</p>

            <p>following permission check function make sure all mongo commands are limit to send to database
                <var>db1</var> and collections with name starts with <var>user</var></p>
            <pre>
def my_mongocall_perm_check(req, db, col, cmd):
    if db != "db1":  # limit db to db1
        return False

    if not col.startswith("user"):  # limit collection to transaction_.*
        return False

    return True
            </pre>
        </li>
    </ul>
    The cmd paramter in perm check function may be <code>find</code>, <code>status</code>, <code>count</code>, <code>exportcsv</code>



    <h3>3.2 Add result HTML slice to your application</h3>
    <p>In application's page <code>query.html</code>(<a href="{{ githuburl }}/templates/query.html">source code</a>),
        add:</p>
    <pre>{% templatetag openblock %} include 'dj-mongo-reader/table.html' {% templatetag closeblock %}</pre>

    <h3>3.3 Customize the result page</h3>
    <p>Create <code>templates/dj-mongo-reader/table.html</code>(
        <a href="{{ githuburl }}/templates/dj-mongo-reader/table.html">source code</a>),
        modify the HTML elements in Django block<code>dj-mongo-rest-table</code>
        remember to add <code>extends</code> statement.</p>
    <pre>{% templatetag openblock %} extends "dj-mongo-reader/core.html"{% templatetag closeblock %}</pre>





    <h3>3.4 Display options in backend</h3>
    <p>Code in <code>views.py</code>(<a href="{{ githuburl }}/sampleapp/views.py">source code</a>)to render the page
        contains the form and result table.</p>
    <pre>
from djmongoreader.models import mongoReader
def query(request):
    context = RequestContext(request)
    _dbname = mongoReader.get_dbname_in_uri()
    dbname = _dbname if _dbname else "db1"
    args = {"db": dbname,
            "col": "user_collection1",
            "rowcount": 10,
            "sort": json.dumps({"name": -1}),
            "columns": "name,disable,gender,lastlogin",
            "columns_trans": json.dumps({"name": "user name", "lastlogin": "last login"})
    }
    return render_to_response("query.html", args, context_instance=context)
    </pre>
    <div>
        <p>These parameters provide an initial query and rendering options:</p>
        <ul>
            <li><code>db</code>: @string, database name in MongoDB.
                if you had provided database name in connection URI, you can fill the value here by <code>mongoReader.get_dbname_in_uri().</code>
            </li>
            <li><code>col</code>: @string, collection name in MongoDB.</li>
            <li><code>rowcount</code>: @int, number of result in one page. optional, default: 50.</li>
            <li><code>sort</code>: @json_str, <a href="http://docs.mongodb.org/manual/reference/method/cursor.sort/">sort
                statement</a> .optional, default: no sort.
            </li>
            <li><code>columns</code>: @string, columns show in the result table. format: field names connected by comma.
            </li>
            <li><code>columns_trans</code>: @json_str, database field name to display name mapping. optional, default:
                use database field name directly.
            </li>
        </ul>
        <p>All these parameters passed to frontend will be assigned to same-named variables in Javascript, and can be
            modified by demands.</p>
    </div>



    <h3>3.5 Display options in frontend</h3>
    <h4>Data transformation:</h4>
    <p>
        In <code>query.html</code>(<a href="{{ githuburl }}/templates/query.html">source code</a>) or its
        corresponding
        Javascript file, for each field you want to make a
        transformation, write a js function named in format <code>&lt;field name&gt;_process</code>.
        The function accept only one parameter, the raw value read from MongoDB.
    </p>
    <p>1, Show <var>Male</var> if raw data in field <code>gender</code> is 0, otherwise show <var>Female</var></p>

    <pre>
window.gender_process = function (val) {
    return (val ? 'Female' : 'Male');
};
    </pre>

    <p>2, Show different icon for field <code>disable</code> field.</p>
    <pre>
window.disable_process = function (val) {
    return (val ? '&lt;span class="glyphicon glyphicon-ok" aria-hidden="true">&lt;/span&gt;' : '&lt;span class="glyphicon glyphicon-remove" aria-hidden="true">&lt;/span&gt;');
};
    </pre>

    <h3>4 Export records to CSV file</h3>
    <div>URL endpoint: <code>/&lt;db&gt;/&lt;collection&gt;/exportcsv/</code></div>
    <div>Supported HTTP GET parameters:
        <ul>
            <li><code>projection</code>, @dict, a dictionary of MongoDB field to the display name in CSV</li>
            <li><code>criteria</code>: @json_str, optional, <a href="http://docs.mongodb.org/manual/reference/method/db.collection.find/">find statement in MongoDB</a></li>
            <li><code>sort</code>: @json_str, optional, <a href="http://docs.mongodb.org/manual/reference/method/cursor.sort/">sort statement in MongoDB</a></li>
            <li><code>exportfn</code>, @string, optional, you can specify the CSV file name, 'export.csv' by default</li>
        </ul>
    </div>
    <div>e.g. <pre>/db1/dbcollection_1/exportcsv/?criteria={"gender":0}&sort={"name":-1}&projection={"name":"student name", "gender":"sex","lastlogin":"last login"}</pre>
    response
    <pre>
sex,student name,last login
0,user 39,2011-11-21 10:57:15.166000
0,user 41,2011-09-22 10:57:15.166000
0,user 43,2011-07-24 10:57:15.166000
0,user 45,2011-05-25 10:57:15.166000
0,user 47,2011-03-26 10:57:15.166000
0,user 49,2011-01-25 10:57:15.166000
0,user 51,2010-11-26 10:57:15.166000
0,user 53,2010-09-27 10:57:15.166000
0,user 55,2010-07-29 10:57:15.166000
...
    </pre>
    </div>


{% endblock %}