{% extends "dj-mongo-reader/core.html" %}

{% block dj-mongo-rest-table %}

    <span id="error_msg"></span>
    <h4 class="pull-left"><span id="span_total"></span></h4>
    <div id="div_selectRowCount" class="pull-right col-sm-6 hide ">
        <span class="pull-left padding-top-6">Display </span>

        <div class="pull-left col-sm-4">
            <select name="sel_rowCount" id="sel_rowCount" class=" pull-left form-control ">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <span class="pull-left padding-top-6"> records per page .</span>
        <button id="btn_export" class="pull-right padding-top-6 btn btn-info">Export csv</button>
    </div>
    <table id="tbl_mongo">
        <thead></thead>
        <tbody></tbody>
    </table>
    <div class="pull-left">
        <span class="help" id="query_time"></span>
    </div>
    <div class="pagination pagination-right pull-right">
        <ul id="ul_page">
        </ul>
    </div>

    <script type="text/template" id="pageTpl">
        <li class='prev' id='li_prev'><a href='#'>Prev</a></li>
        <%#loop%>
        <li id='<%.%>'><a href='#'><%.%></a></li>
        <%/loop%>
        <li id='li_next'><a href='#'>Next</a></li>
    </script>

    <script type="text/template" id="theadTpl">
        <tr>
            <%#loop%>
            <th><%thead%></th>
            <%/loop%>
        </tr>
    </script>

    <script type="text/template" id="tableTpl">
        <%#loop%>
        <%#hasdata%>
        <tr>
            <%#tds%>
            <%^detail%>
            <td><%&content%></td>
            <%/detail%>
            <%#detail%>
            <td><a href="#" class="detail btn btn-link" data-id='<%&detail%>'>Detail</a></td>
            <%/detail%>
            <%/tds%>
        </tr>
        <%/hasdata%>
        <%^hasdata%>
        <tr>
            <td colspan='<%len%>'><p> There is no data.</p></td>
        </tr>
        <%/hasdata%>
        <%/loop%>
    </script>

    <script type="text/template" id="totalTpl">
        <strong><%total%></strong> in total.
    </script>
{% endblock %}
{% block dj-mongo-rest-js-remote-lib %}
{% endblock %}
{% block dj-mongo-rest-extra-js %}
    <script>
        $(function () {
            <!--RenderTable.getCount();-->
            <!--RenderTable.getMongoData(1);-->
            $('#tbl_mongo').unbind('click').on('click', 'a.detail', RenderTable.detailClickFun);
            $('#btn_export').bind('click', function(e){
                e.preventDefault();
                RenderTable.exportFun();
            })
        });
    </script>
{% endblock %}