{% load static %}
<!DOCTYPE html>
<html>
    <head>
    {% block dj-mongo-rest-style %}
        <link rel="stylesheet" type="text/css" href="{% static 'dj-mongo-reader/css/base.css' %}">
    {% endblock %}
    {% block dj-mongo-rest-extra-style %}
    {% endblock %}
    <meta http-equiv="Content-Language" value="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
    {% block dj-mongo-rest-table %}
    {% endblock %}


    <script type='text/javascript'>
        var db = '{{db}}';
        var col = '{{col}}';
        var cmd = '{{cmd}}';
        var requestURL = '{% url 'dj-mongo-reader-col' db col %}';
        var rowcount = {{rowcount|default:"50"}};
        var criteria = {{criteria|safe|default:"{}"}};
        var sort = {{sort|safe|default:"{}"}};
        var columns = '{{columns}}';
        var columns_trans = {{columns_trans|safe|default:"{}"}};
    </script>



    {% block dj-mongo-rest-js-remote-lib %}
        {# overwrite the jquery and mustache url if necessary#}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    {% endblock %}

    <script src="{% static 'dj-mongo-reader/js/mongoreader.js' %}"></script>
    <script src="{% static 'dj-mongo-reader/js/rendertable.js' %}"></script>
    {% block dj-mongo-rest-extra-js %}
    {% endblock %}
    </body>
</html>